<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuqin.meinian.api.db.mapper.CrmCustomerMapper">

    <resultMap id="BaseResultMap" type="com.yuqin.meinian.api.db.entity.CrmCustomerEntity">
            <id property="id" column="id" />
            <result property="customerName" column="customer_name" />
            <result property="gender" column="gender" />
            <result property="phone" column="phone" />
            <result property="photoUrl" column="photo_url" />
            <result property="registerTime" column="register_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,customer_name,gender,phone,photo_url,register_time
    </sql>
</mapper>
