<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuqin.meinian.api.db.mapper.MedAppointmentLimitMapper">

    <resultMap id="BaseResultMap" type="com.yuqin.meinian.api.db.entity.MedAppointmentLimitEntity">
            <id property="id" column="id" />
            <result property="appointmentDate" column="appointment_date" />
            <result property="actualLimit" column="actual_limit" />
            <result property="maxLimit" column="max_limit" />
            <result property="actualCount" column="actual_count" />
            <result property="remark" column="remark" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,appointment_date,actual_limit,max_limit,actual_count,remark,
        create_time
    </sql>
    <insert id="saveOrUpdateAppointmentLimit">
        INSERT INTO med_appointment_limit
        (appointment_date, actual_limit, max_limit, actual_count, remark, create_time)
        VALUES
            (#{appointmentDate}, #{actualLimit}, #{maxLimit}, 1, #{remark}, NOW())
        ON DUPLICATE KEY UPDATE
            actual_count = actual_count + 1
    </insert>
    <select id="selectAppointmentLimitLast60Days"
            resultType="com.yuqin.meinian.api.front.VO.AppointmentLimitLast60DaysFrontVO">
        select appointment_date as appointmentDate,
               actual_limit     as actualLimit,
               max_limit        as maxLimit,
               actual_count     as actualCount
        from med_appointment_limit
        where appointment_date between #{startDate} and #{endDate}
        order by appointmentDate;
    </select>
    <select id="selectByAppointmentDate" resultType="java.util.Map">
        select appointment_date as appointmentDate,
               actual_limit     as actualLimit,
               max_limit        as maxLimit,
               actual_count     as actualCount
        from med_appointment_limit
        where appointment_date = #{appointmentDate}
        limit 1
    </select>
</mapper>
