<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuqin.meinian.api.db.mapper.TradeOrderMapper">

    <resultMap id="BaseResultMap" type="com.yuqin.meinian.api.db.entity.TradeOrderEntity">
        <id property="orderId" column="order_id"/>
        <result property="outTradeNo" column="out_trade_no"/>
        <result property="customerId" column="customer_id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="goodsTitle" column="goods_title"/>
        <result property="goodsPrice" column="goods_price"/>
        <result property="goodsImage" column="goods_image"/>
        <result property="goodsDescription" column="goods_description"/>
        <result property="quantity" column="quantity"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="transactionId" column="transaction_id"/>
        <result property="orderStatus" column="order_status"/>
        <result property="snapshotId" column="snapshot_id"/>
        <result property="outRefundNo" column="out_refund_no"/>
        <result property="createTime" column="create_time"/>
        <result property="createDate" column="create_date"/>
        <result property="refundTime" column="refund_time"/>
        <result property="refundDate" column="refund_date"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_id,out_trade_no,customer_id,goods_id,goods_title,goods_price,
        goods_image,goods_description,quantity,total_amount,transaction_id,
        order_status,snapshot_id,out_refund_no,create_time,create_date,
        refund_time,refund_date
    </sql>
    <update id="updateStatus">
        update trade_order set order_status = #{orderStatus} where order_id = #{orderId}
    </update>

    <select id="selectPageVO" resultType="com.yuqin.meinian.api.mis.VO.OrderPageQueryMisVO">
        select
        o.goods_title as goodsTitle,
        o.goods_price as goodsPrice,
        o.quantity,
        o.total_amount as totalAmount,
        o.order_status as orderStatus,
        o.create_time as createTime,
        o.create_date as createDate,
        o.refund_time as refundTime,
        o.refund_date as refundDate,
        o.order_id as orderId,
        c.photo_url as photoUrl,
        c.customer_name as customerName,
        c.gender,
        c.phone,
        c.register_time as registerTime,
        o.out_trade_no as outTradeNo,
        o.transaction_id as transactionId,
        o.out_refund_no as outRefundNo,
        o.snapshot_id as snapshotId,
        count(a.order_id) as num
        from
        med_exam_package p
        inner join
        trade_order o
        on
        p.id = o.goods_id
        inner join
        crm_customer c
        on
        c.id = o.customer_id
        left join
        med_exam_appointment a
        on
        a.order_id = o.order_id
        <where>
            <if test="dto.packageCode != null and dto.packageCode != ''">
                p.package_code like concat('%',#{dto.packageCode},'%')
            </if>
            <if test="dto.keyword != null and dto.keyword != ''">
                and o.goods_title like concat('%',#{dto.keyword},'%')
            </if>
            <if test="dto.phone != null and dto.phone != ''">
                and c.phone = #{dto.phone}
            </if>
            <if test="dto.orderStatus != null">
                and o.order_status = #{dto.orderStatus}
            </if>
            <if test="dto.startDate != null and dto.startDate != '' and dto.endDate != null and dto.endDate != ''">
                and o.create_date between #{dto.startDate} and #{dto.endDate}
            </if>
        </where>
        group by o.order_id
        order by o.order_id desc
    </select>
    <select id="selectTranIdAndAmountByOrderId" resultType="com.yuqin.meinian.api.db.entity.TradeOrderEntity">
        SELECT
            transaction_id,
            total_amount
        FROM trade_order
        WHERE order_id = #{orderId}
          AND order_status = 3
          AND customer_id = #{loginIdAsInt}
        LIMIT 1
    </select>
    <select id="hasOwnOrder" resultType="java.lang.Integer">
        select order_id as orderId from trade_order where order_id = #{orderId} and customer_id = #{customerId}
    </select>
    <select id="selectOrderIsFinished" resultType="java.util.Map">
        /* ShardingSphere hint: dataSourceName=write_a */
        select o.order_id as orderId,
               o.quantity as n1,
               (select count(*) from med_exam_appointment where order_id=o.order_id and status=3) as n2
        from trade_order o join med_exam_appointment a on o.order_id=a.order_id
        WHERE a.appointment_no = #{appointmentNo}
    </select>
</mapper>
